.buttonContainer {
  margin-top: 1em;
}

.buttonMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 3em;
  padding: 1em;
  font-weight: bold;
  margin: auto;
}

.buttonMain--small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 2em;
  padding: 1em;
  margin: auto;
}

.buttonMain--medium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 2em;
  padding: 1em;
  margin: auto;
}